<input type="button" value="Regresar" routerLink="/heroesList" routerLinkActive="active">
<div class="detail-container">
    <div class="dcolumn">
        <div>Nickname:</div>
        <div>Nombre:</div>
        <div>Estatura:</div>
        <div>Picture:</div>
    </div>
    <div class="dcolumn">
        <input id="nickname" type="text" [(ngModel)]="_nickname">
        <input type="text" [(ngModel)]="_name">
        <input type="text" [(ngModel)]="_height">
        <input type="text" [(ngModel)]="_picture">
    </div>
</div>


