<div class = "hero-container" (click)="clickHero()">
    <div class = "img-container">
        <div class="index-booble">
            <div class="index">{{index}}<span>th</span>
            </div>  
        </div>
        <img src = "{{hero._picture}}">
    </div>
    <div class = "data-container">
        <label class="nickname">{{hero._nickname}}</label>
        <label id="name" class = "data">{{hero._name}}</label>
        <label id="height" class = "data">Estatura: {{hero._height}}</label>
    </div>
</div>






